.float-right {
  float:right;
  &-padding {
    float:right;
    padding-left:$spacing-small;
  }
  @include max-screen(nth($res-collection, 4)*1px) {
    float:none;
  }
}
.float-left {
  float:left;
  &-padding {
    float:left;
    padding-right:$spacing-small;
  }
  
  @include max-screen(nth($res-collection, 4)*1px) {
    float:none;
  }
}
.padding {
  padding:$spacing-medium;
}
.flex {
  @include min-screen(nth($res-collection, 4)*1px) {
    @include display(flex);
  }
}