//
//
// ASSETS
//
$img-assetpath:"/assets/images/";
//
//
// COLORS
//
$light-grey:                        #eeeeee;
$grey:                              #8e969d;
$dark-grey:                         #777777;
$orange:                            rgb(200,77,25);
$blue:                              rgb(5,124,196);
$violet:                            #860059;

$primary:                           black;
$secondary:                         #860059;
$tertiary:                          #8d8a78;
//
//
// TYPOGRAPHY
//
$base-font-family:                  Verdana, Arial, Helvetica, sans-serif;
// SIZES
$base-font-size:                    1.2em;

$font-xsmall:                       0.6em;
$font-small:                        0.7em;
$font-medium:                       0.85em;
$font-large:                        1.7em;
$font-xlarge:                       2em;

$base-line-height:                  1.5em; // 1.5em default
$heading-line-height:               1.6em;
// COLORS
$base-font-color:black;
$heading-font-color:black;
//
//
// SPACING
//
$spacing-base:                        2.7em;
$spacing-xlarge:                      $spacing-base*2;
$spacing-large:                       1.7em;
$spacing-medium:                      $spacing-base/2;
$spacing-small:                       $spacing-base/4;
$spacing-xsmall:                      $spacing-base/10;
// MARGINS
$base-margin:2.5em;
//
//
// MEDIA QUERIES
//
$res-collection:                      (320, 480, 768, 1024, 1280, 1680);
$orientation-collection:              (all, portrait, landscape);
