---
layout: default
---
<div class="container">
  <div class="introduction">
    <div class="interactive-area">
      <script language="JavaScript">
        var movieTag="http://www.minusk.com/media/vibration_isolation_vibration_control_vibration_isolator.swf?productURL="+productURL;
        var version=7;
        var swf_id="home_flash";
        var movieHeight="281";
        var movieWidth="537";
        var FlashVars="";
        var allow_fscommand=false;
        alternateContent="";
        document.write(returnFlashTag(version,swf_id,movieTag,movieHeight,movieWidth,FlashVars,allow_fscommand,alternateContent));
      </script>
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="537" height="281" id="home_flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"><param name="movie" value="http://www.minusk.com/media/vibration_isolation_vibration_control_vibration_isolator.swf?productURL=http://www.minusk.com/content/products/standard/bm-10.html">
        <param name="FlashVars" value="">
        <param name="quality" value="high">
        <param name="bgcolor" value="#FFFFFF">
        <param name="wmode" value="transparent">
        <param name="allowScriptAccess" value="always">
        <param name="swLiveConnect" value="true">
        <embed src="http://www.minusk.com/media/vibration_isolation_vibration_control_vibration_isolator.swf?productURL=http://www.minusk.com/content/products/standard/bm-10.html" quality="high" bgcolor="#FFFFFF" width="537" height="281" name="home_flash" align="middle" play="true" loop="false" flashvars="" wmode="transparent" allowscriptaccess="always" swliveconnect="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
      </object>
    </div>
    <div class="new-product-feature">
      <div class="new-product">
        <strong>The NEW LC-4</strong><br>
        <strong>Ultra Compact</strong><br>
        <a href="products/lc4-ultra-compact-frequency-vibration-isolation-isolator.html">
          <img width="125" height="125" border="0" class="cs" alt="Vibration Isolation Platforms, Tables, Isolators &amp; Systems" src="img/lc4_ultra_compact_low_frequency_vibration_isolator.jpg">
        </a><br>
        <strong>Low Frequency<br>Vibration Isolators</strong><br>
        <a class="arrow-link" href="products/lc4-ultra-compact-frequency-vibration-isolation-isolator.html">More Information</a>
      </div>
    </div>
  </div>
  <div class="video-example">
    <div class='embed-container'><iframe width="420" height="315" src="https://www.youtube.com/embed/reYtUNLXvt8?rel=0" frameborder="0" allowfullscreen></iframe></div>
  </div>
  <div class="case-study">
    <header class="home-header-orange">
      <h3>Case Study</h3>
    </header>
    <div class="content">
      <p><strong>NASA/JPL</strong> needed a dynamic test bed for the Space Interferometry Mission (SIM) to demonstrate spacecraft vibration-induced errors of a few nanometers.</p>
      <a href="http://minusk.com/documents/case_studies/jpl_case_study_vibration_control_vibration_isolation.doc"><img src="assets/images/jpl_case_study_home_img.gif" width="193" height="79" alt="JPL Case Study"></a><br>
      <a class="arrow-link" href="http://minusk.com/documents/case_studies/jpl_case_study_vibration_control_vibration_isolation.pdf">Download case study</a>
      <p>Join Minus K on <a href="http://www.facebook.com/pages/Minus-K-Technology/102373193139827"><img src="assets/images/logo_facebook.jpg" width="80" height="30" alt="Facebook"></a></p>
    </div>
  </div>
</div>
<div class="container flex">
  <div class="advantages">
    <header class="home-header-orange">
      <h3>Advantages of Minus K&#174; Products</h3>
    </header>
    <div class="content">
      <ul>
        <li>Isolation performance is typically 10 to 100 times better than high-performance air systems</li>
        <li>No air or electric power is required</li>
        <li>Easy to use</li>
        <li>Nothing to wear out</li>
        <li>No maintenance</li>
      </ul>
      {% include newsletter.html %}
    </div>
  </div>
  <div class="vibration-isolation">
    <div class="content">
      <h3>Vibration Isolation from MinusK&#174;</h3>
      <p>Top researchers at over 200 leading universities and government labs 
      have selected Minus K products to achieve 
      the superior vibration control needed in their projects!</p>
      <img src="assets/images/minus_k_negative_stiffness_isolator_transparent_vibration_isolation_vibration_control.jpg" width="400" height="277" alt="Minus K Negative Stiffness Isolator Transparent Vibration Isolation Vibration Control">
      <p><a class="arrow-link" href="/content/in-the-news/TheSci_0907.html#indexisolator">Read More by clicking here</a></p>
      <p><a class="arrow-link" href="/content/in-the-news/TheSci_0907.html#indexisolator">More on how it works by clicking here</a></p>
    </div>
  </div>
  <div class="press-release">
    <header class="home-header-orange">
      <h3>James Webb Space Telescope</h3>
    </header>
    <div class="content">
      <p>Minus K's Negative-Stiffness isolators Selected for James Webb Space Telescope Ground Testing</p>
      <img src="assets/images/jwst_ground_support_minus_k_vibration_isolators.gif" width="210" height="260" alt="JWST Ground Support Minus K Vibration Isolators">
      <p><a class="arrow-link" href="/content/in-the-news/JWSTPress_0709.html">Read More by clicking here</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="floor-platform">
    <header class="home-header-blue">
      <h3>Floor Platform for TEM</h3>
    </header>
    <div class="content">
      <img class="float-left-padding" src="assets/images/tem_jeol_anti_vibration_floor_platform_vibration_control_minus_k.jpg" width="300" height="225" alt="Tem Jeol Anti Vibration Floor Platform Vibration Control Minus K">
      <p>The University of Texas Center for Learning and Memory's transmission electron microscope (TEM) uses a custom Minus K negative-stiffness isolation platform.</p>
      <p>The measurements below show the 1.2 to 2.5-Hz horizontal vibrations the equipment experienced in the fifth-floor lab before (left) and after (right) isolation with a 0.4-Hz negative-stiffness system.</p>
      <p><small>(Measurements courtesy JEOL U.S.A., the TEM manufacturer)</small></p>
      <br>
      <br>
      <br>
      <a class="float-left" href="http://minusk.com/img/tem_jeol_vibration_isolation_floor_platform_curve_compare_minus_k.jpg"><img src="assets/images/tem_jeol_vibration_isolation_floor_platform_curve_pre_minus_k.jpg" width="267" height="174" alt="Tem Jeol Vibration Isolation Floor Platform Curve Pre Minus K"><br>Click here to enlarge image</a>
      <a class="float-right" href="http://minusk.com/img/tem_jeol_vibration_isolation_floor_platform_curve_compare_minus_k.jpg"><img src="assets/images/tem_jeol_vibration_isolation_floor_platform_curve_pre_minus_k.jpg" width="267" height="174" alt="Tem Jeol Vibration Isolation Floor Platform Curve Pre Minus K"><br>Click here to enlarge image</a>
    </div>
  </div>
  <div class="in-the-news">
    <header class="home-header-blue">
      <h3>Minus K&#174; In The News</h3>
    </header>
    <div class="content">
    <table width="100%" border="0">
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_minusk20yr_100.jpg" width="100" height="41" /></th>
        <td><a href="content/in-the-news/20yrWinnersPress_0414.html"><strong>Minus K Congratulates to the following winners of Minus K's 20-Year Celebration Giveaway</strong><br>
          <em>- Minus K Technology , April 2014</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_labproductnews_100.jpg" width="100" height="33" /></th>
        <td><b><a href="content/in-the-news/LabProNew_0214.html">Improving Nano-Scale Imaging</a></b><a href="content/in-the-news/LabProNew_0313.html"><br>
            - <em>LabProduct News., February 2014</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_controlled_environments_100.jpg" width="100" height="33" /></th>
        <td><a href="content/in-the-news/ContEnv_0214.html"><b>Negative-Stiffness Vibration Isolation Facilitates Growth of Large Crystals</b><br>
        - <em>Controlled Environments, April 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_positive_feedback_online_100.jpg" width="100" height="31" /></th>
        <td><a href="content/in-the-news/positivefeedback_0114.html"><b>Impressions: Notes on the Minus K Technology 100BM-8</b><br>
          - <em>Positive Feedback Online , January/February 2014</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_hifizine_100.jpg" width="100" height="30" /></th>
        <td><a href="content/in-the-news/hifizine_1213.html"><b>Equipment Reviews: MINUS K BM-8 ISOLATION PLATFORM</b><br>
          - <em>HiFi Zine, December 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th hscope="col"><img src="img/logo_ustech_100.jpg" width="100" height="38" /></th>
        <td><a href="content/in-the-news/USTech_1113.html"><b>Minus K Launches Vibration Isolator Giveaway to U.S. Colleges and Universities</b><br>
          - <em>US Tech, November 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_laserfocusworld_100.jpg" width="100" height="21" /></th>
        <td><a href="content/in-the-news/LasFocW_1113.html"><b>Minus K celebrates 20 years with vibration isolator giveaway</b><br>
          - <em>Laser Focus World, November 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666"> 
        <th scope="col"><img src="img/logo_minusk20yr_100.jpg" width="100" height="41" /></th>
        <td><a href="content/edgiveaway.html"><b>Minus 
          K 20 Year Celebration $20,000 Giveaway</b><br>
          - <em>Minus K Technology., October 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666">
        <th scope="col"><img src="img/logo_medicalproductmanufacturingnews_100.jpg" width="100" height="47" /></th>
        <td><a href="content/in-the-news/MedProdManuNews_0913.html"><b>Products &amp; Services, Vibration Isolator </b><br>
          - <em>Medical Product Manufacturing News, September/October 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666"> 
        <th scope="col"><img src="img/logo_laboratoryequipment_100.jpg" width="100" height="38" /></th>
        <td><a href="content/in-the-news/LabEqu_0713.html"><b>Technology 
          Spurs Expansion of AFM Scanning Range</b><br>
          - <em>Laboratory Equipment., July 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666"> 
        <th scope="col"><img src="img/logo_dagogo_100.jpg" width="100" height="33" /></th>
        <td><a href="content/in-the-news/dagogo_0513.html"><b>Audio 
          Accessories: Minus K 100BM-1 Vibration Isolation 
          Platform Review</b><br>
          - <em>Dagogo Audio., May 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666"> 
        <th scope="col"><img src="img/logo_biophotonics_100.jpg" width="100" height="19" /></th>
        <td><a href="content/in-the-news/Biophotonics_0513.html"><b>Breakthrough 
          Products: Negative-Stiffness Vibration Isolator</b><br>
          - <em>BioPhotonics, May/June 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666"> 
        <th scope="col"><img src="img/logo_controlled_environments_100.jpg" width="100" height="33" /></th>
        <td><a href="content/in-the-news/ContEnv_0413.html"><b>New 
          Products: Low-Frequency Vibration Isolation</b><br>
          - <em>Controlled Environments, April 2013</em></a></td>
      </tr>
      <tr bordercolor="#666666"> 
        <th scope="col"><img src="img/logo_photonics_spectra_100.jpg" width="100" height="20" /></th>
        <td><a href="content/in-the-news/PhotonicsSp_0413.html"><b>New 
          Product: Vibration Isolator</b><br>
          - <em>Photonics Spectra, April 2013</em></a></td>
      </tr>
    </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="for-use-in">
    <p class="h5"><strong>Standard and Custom Vibration Isolation with Better Performance than Active Systems</strong></p>
    <h4>Cutting Edge Vibration Isolation for use in...</h4>
    <div class="for-use-list">
      <ul>
        <li><a href="content/applications_vibration_isolation_systems/microscope_vibration_isolation_table_platform_systems.html">Microscopy (SPM, SEM, AFM, etc.)</a></li>
        <li><a href="/content/about-minus-k/testimonials_vibration_control_anti_vibration_isolation_vibration_isolators_minus_k.html#Microhardness_Testing">Micro-Hardness Testing</a></li>
        <li><a href="/content/applications_vibration_isolation_systems/optical_tables_lasers_microscopes_vibration_isolation.html">Laser/Optical Systems</a></li>
      </ul>
    </div>
    <div class="for-use-list">
      <ul>
        <li><a href="/content/applications_vibration_isolation_systems/biology-neuroscience.html">Biology/Neuroscience</a></li>
        <li><a href="/content/applications_vibration_isolation_systems/large-displacement-low-frequency-systems.html">Large-Displacement Systems</a></li>
        <li><a href="/content/technology/case-studies_anti_vibration_vibration_isolation.html">Spacecraft Testing</a></li>
      </ul>
     </div>
     <div class="for-use-list">
      <ul>
        <li><a href="/content/applications_vibration_isolation_systems/analytical-balances.html">Analytical Balances</a></li>
        <li><a href="/content/applications_vibration_isolation_systems/audio_reproduction_turntables_vibration_isolation_platforms.html">Audio Reproduction</a></li>
        <li><a href="/content/applications_vibration_isolation_systems/vacuum-isolation.html">Vacuum Isolation</a></li>
      </ul>
     </div>
     <div class="for-use-list">
      <ul >
        <li><a href="/content/applications_vibration_isolation_systems/heavy-systems.html">Heavy Systems</a></li>
        <li><a href="/content/applications_vibration_isolation_systems/custom-systems.html">Custom Systems</a></li>
        <li><a href="http://minusk.com">Vibration Isolation</a></li>
       </ul>
     </div>
    <p class="h5"><strong>Minus K is an OEM supplier to leading manufacturers of SPMs, microhardness testers, NSOMs and profilers.</strong></p>
    {% include business-seals.html %}
  </div>
</div>