    <ul class="business-seals">
      <li><img src="/assets/images/logo_minusk_casbseal_75.jpg" width="75" height="75" alt="California Small Business Seal"><br>California Certified Small Business</li>
      <li><img src="/assets/images/logo_madeinusa_75.jpg" width="135" height="75" alt="Made in the USA"><br>Proudly Made in the USA</li>
      <li><img src="/assets/images/logo_vosb_75.jpg" width="75" height="75" alt="Veteran Owned Small Business Seal"><br>Veteran Owned Small Business</li>
    </ul>