<footer class="footer">
  <p>460 S. Hindry Ave., Unit C Inglewood, CA 90301<br>
  Tel: 310-348-9656 Fax: 310-348-9638<br>
  <a href="http://www.minusk.com/content/contact_for_vibration_isolation_platforms_tables_isolators.html">Contact Us</a>  <a href="http://www.minusk.com/">www.MinusK.com</a><p>
  <small>
    Copyright &copy; {{ date: '%Y' }} Minus K Technology. All rights reserved. 
  </small>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
{% endif %}