body {

}
.main-container {
  @include center(980px);
  border:1px solid black;
  margin-bottom:2px;
}
.footer-container {
  @include center(980px);
  flex-wrap:wrap;
  margin-bottom:15px;
}
.container {
   @include cf();
}
.footer {
  @include col(1/1);
  margin-top:$spacing-xlarge;
  margin-bottom:$spacing-xlarge;
  font-size:$font-medium;
  text-align:center;
  font-weight:normal;
  a {
    color:black;
  }
}
.content {
  padding-left:$spacing-small;
  padding-right:$spacing-small;
}
