body {
  @include display(flex);
}
.main-container {
  @include center(980px);
  border:1px solid black;
}
.container {
  @include cf();
}
.footer {
  @include col(1/1);
  margin-top:$spacing-xlarge;
  margin-bottom:$spacing-xlarge;
  font-size:$font-medium;
  text-align:center;
  font-weight:normal;
  a {
    color:black;
  }
}
.content {
  padding-left:$spacing-small;
  padding-right:$spacing-small;
}