body {
  @include display(flex);
}
.main-container {
  @include center(980px);
}
.container {
  @include cf();
}
.footer {
  padding:1em 1em 1em 1em;
  margin-top:$spacing-xlarge;
  font-size:$font-medium;
  text-align:center;
  font-weight:normal;
  a {
    color:black;
  }
  @include min-screen(nth($res-collection, 4)*1px) {
    padding:0;
  }
}
.content {
  padding-left:$spacing-small;
  padding-right:$spacing-small;
}