.video-example {
  display:block;
  @include min-screen(nth($res-collection, 4)*1px) {
    display:none;
  }
}
.introduction {
  display:none;
  @include min-screen(nth($res-collection, 4)*1px) {
    display:block;
    @include span(9/12);
    .interactive-area {
      width:536px;
      float:left;
    }
    .new-product-feature {
      width:198px;
      height:280px;
      float:left;
      text-align:center;
      @include background-images('home_cs_bg.jpg');
    }
    .new-product {
      padding-top:55px;
    }
  }
}
.case-study {
  @include span(12/12);
  @include min-screen(nth($res-collection, 4)*1px) {
    @include span(3/12);
  }
}
.advantages {
  background-color:$light-grey;
  @extend .case-study;
}
.vibration-isolation {
  @include span(12/12);
  text-align:center;
  @include min-screen(nth($res-collection, 4)*1px) {
    @include span(6/12);
  }
}
.press-release {
  background-color:$light-grey;
  @extend .case-study;
}
.floor-platform {
  @include span(12/12);
  @include min-screen(nth($res-collection, 4)*1px) {
    @include span(7/12);
  }
}
.in-the-news {
  @include span(12/12);
  @include min-screen(nth($res-collection, 4)*1px) {
    @include span(5/12);
  }
  .content {
    border-left:1px solid black;
  }
  td {
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
  }
  th {
    padding-top:5px;
    vertical-align:text-top;
    width:20%;
  }
  td {
    width:80%;
  }
}
.for-use-in {
  @include span(12/12);
  text-align:center;
  padding:$spacing-medium;
}
.for-use-list {
  @include col(1/4, $cycle: 4);
  text-align:left;
  @include max-screen(nth($res-collection, 4)*1px) {
    @include col(4/4, $uncycle: 4);
  }
}
.home-header-orange {
  padding:8px;
  color:white;
  @include background-images('headers-orange.jpg', $y: -85px);
  background-color:$orange;
  h3 {
    margin:0;
    font-weight:500;
  }
}
.home-header-blue {
  padding:12px;
  color:white;
  text-align:center;
  @include background-images('headers-blue.jpg', $y: -85px);
  background-color:$blue;
  h3 {
    margin:0;
    font-weight:700;
  }
}