.page {
  @include col(12/12);
  padding-top:1em;
}
.page-content {
  margin:0.5em 0.5em 0.5em 0.5em;
  @include min-screen(nth($res-collection, 4)*1px) {
    @include col(9/12);
    @include shift(3/12);
  }
}
.page-article {
  padding-right:1px;
  @include min-screen(nth($res-collection, 4)*1px) {
    padding-right:10px;
  }
}
.page-aside {
  @include col(12/12);
  @include min-screen(nth($res-collection, 4)*1px) {
    @include col(3/12);
    @include shift(-9/12);
  }
  .page-navigation {
    ul {
      margin:$spacing-small $spacing-small $spacing-small 0;
      padding-left:$spacing-small;
      list-style-type:none;
      .active-black {
        a {
          color:white;
        }
        @include background-images("arrow_wh_down.gif", $y: 7px, $x: center);
        background-color:$primary;
      }
      li {
        border-right:1px solid $dark-grey;
        border-left:1px solid $dark-grey;
        border-bottom:1px solid $dark-grey;
        @include background-images("arrow_ltwh.gif", $y: 7px, $x: center);
        background-color:$light-grey;
        a {
          display:block;
          padding:$spacing-small;
          padding-left:24px;
        }
        ul {
          margin:0;
          padding:0;
          li {
            padding:0;
            border:none;
            @include background-images("arrow_ltwh.gif", $y: 15px, $x: center);
            background-color:white;
            a {
              color:$primary;
              padding-left:30px;
            }
          }
        }
      }
    }
  }
}
