body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing:antialiased;
  color:$base-font-color;
  font-family:$base-font-family;
  font-size:$base-font-size;
  @include min-screen(nth($res-collection, 3)*1px) {
    font-size:$font-small;
  }
}
a, a:visited, a:active {
  color:$secondary;
  text-decoration:none;
}
a:hover {
  color:black;
}
p {
  line-height:$base-line-height;
}
em, i, q {
  font-style:italic;
}
ul {
  padding-left:$spacing-medium;
}
ol {
  @extend ul;
}
li {
  line-height:$base-line-height;
}
strong, b { 
  font-weight:800;
}
small {
  font-size:$font-xsmall;
  line-height:1em;
}
