body {
  color:$base-font-color;
  font-family:$base-font-family;
  font-size:$base-font-size;
  @include min-screen(nth($res-collection, 3)*1px) {
    font-size:$font-small;
  }
}
a, a:visited, a:active {
  color:$secondary;
  text-decoration:none;
}
a:hover {
  color:black;
}
h1, .h1 {
  font-size:$h1;
}
h2, .h2 {
  font-size:$h2;
}
h3, .h3 {
  font-size:$h3;
}
h4, .h4 {
  font-size:$h4;
}
h5, .h5 {
  font-size:$h5;
}
h6, .h6 {
  font-size:$h6;
}
p {
  line-height:$base-line-height;
}
em, i, q {
  font-style:italic;
}
ul {
  padding-left:$spacing-medium;
}
ol {
  @extend ul;
}
li {
  line-height:$base-line-height;
}
strong, b { 
  font-weight:800;
}
small {
  font-size:$font-small;
  line-height:1em;
}
