.business-seals li {
  @include span(3/3, $uncycle: 3);
  text-align:center;
  font-style:italic;
  list-style-type:none;
  @include min-screen(nth($res-collection, 4)*1px) {
    @include span(1/3, $cycle: 3);
  }
}