/*Lower Page Stufff */
td.content_cell{
padding:10px 8px 0 14px;
}
td.content_r_cell{
padding:40px 11px 0 0;
}

table.specs_table{
border:1px solid #cec7a2;
border-right:none;
border-bottom:none;
}

table.img_table{
border:1px solid #cec7a2;
margin:5px;
}

table.img_table td{
padding:7px 10px 7px 10px;
font-size:10px;
}

table.img_table td.hdr_cell{
background:#e2ddc3;
font-weight:bold;
}

table.img_table td.hdr_cell2{
background:#BBB071;
font-weight:bold;
}
table.product_display_table td{
padding:10px;
border-top:1px dashed #cec7a2;
background:#f0f0f0;
}
table.product_display_table td.img_cell{
background:#fff;

}

table.product_display_table td.img_cell {

}
table.specs_table td{
border:1px solid #cec7a2;
border:1px solid #cec7a2;
padding:7px 10px 7px 10px;
font-size:10px;
}

table.specs_table td.hdr_cell{
background:#e2ddc3;
font-weight:bold;
}



table.product_table{
border:1px solid #cec7a2;
background:#e2ddc3;
}

table.product_table td {
padding:15px 20px 5px 0;
}
table.product_table td.num_cell {
text-align:right;
padding-top:10px;
padding-right:10px;
}
table.product_table td.product_img_cell{
padding:0;
}