---
layout: default
---
<div class="container">
<div class="page">
    <section class="page-content">
      <header class="page-header">
        <h1 class="product-title">{{ page.title }}</h1>
        <div class="product-contact"><a href="http://minusk.com/content/contact_for_vibration_isolation_platforms_tables_isolators.html"><img src="../assets/images/button_contact_product.gif" width="222" height="35" alt="Contact us about this product"></a></div>
      </header>
      <article class="product-information">
        <table width="100%" border="0">
          <tbody>
            <tr align="center">
              <td width="39%" align="center" valign="bottom">
                <img src="../img/lc4_ultracompact_low.jpg" width="157" height="280" alt="Lc4 Ultracompact Low">
              </td>
              <td width="21%" align="center">&nbsp;</td>
              <td width="39%" valign="bottom">
                <img src="../img/lc4_ultracompact.jpg" width="162" height="300" alt="Lc4 Ultracompact">
              </td>
            </tr>
            <tr align="center">
              <td height="20" align="center" valign="bottom">Low Freq.  Horiz</td>
              <td align="center">&nbsp;</td>
              <td valign="bottom">Ultra Low Freq.  Horiz</td>
            </tr>
          </tbody>
        </table>
      {{ content }}
      </article>
      <article class="product-specifications">
        <table cellspacing="0" cellpadding="0" width="100%" border="0" class="specs_table">
          <tbody>
          <tr>
            <td colspan="4" height="6"><font size="1" color="#000000">Weight:
              Approximately 7 lb (3.1 kg)</font></td>
          </tr>
          <tr>
            <td colspan="2"><p><font size="1" color="#000000"><strong>Low Frequency  Horizontal</strong><br />
              <br />
              Dimensions:<br />
            </font><font size="1" color="#000000">4.75&quot;
                W x 4.75&quot; D x 7&quot; H</font><font size="1" color="#000000"><br />
                  </font><font color="#000000"><span class="style2">(121mm W x 121mm D
                  x 178mm H)</span></font><font size="1" color="#000000"><br />
                  <br />
                  </font>                        </td>
            <td colspan="2"><font size="1" color="#000000"><strong>Ultra Low Frequency  Horizontal</strong><br />
                <br />
Dimensions: <br />
4.75&quot;
              W x 4.75&quot; D x 8&quot; H</font><br />
              <span class="style2"><font color="#000000">(121mm W x 121mm D
                x 203mm H)</font></span></td>
            </tr>
          <tr>
            <td class="hdr_cell" colspan="4">Load Capacities (approximate):</td>
          </tr>
          <tr>
            <td width="84" rowspan="2" valign="middle" class="hdr_cell">Model</td>
            <td width="126" rowspan="2" valign="middle" class="hdr_cell">Payload Range*</td>
            <td class="hdr_cell"><div align="center">1.5 Hz Horizontal </div></td>
            <td class="hdr_cell"><div align="center">0.5 Hz Horizontal</div></td>
          </tr>
          <tr>
            <td class="hdr_cell"><div align="center">Price**</div></td>
            <td class="hdr_cell"><div align="center">Price**</div></td>
          </tr>
          <tr>
            <td>2LC-4</td>
            <td><div>1 - 2.5 lb</div>
                <div>(.5 - 1.1 kg)</div></td>
            <td width="100"><div align="center"><strong>$1960.00</strong></div></td>
            <td width="111"><div align="center"><strong>$2195.00</strong></div></td>
          </tr>
          <tr>
            <td>15LC-4</td>
            <td><div>5 - 15 lb</div>
                <div>(2.2 - 6.8 kg)</div></td>
            <td><div align="center"><strong>$2015.00</strong></div></td>
            <td><div align="center"><strong>$2250.00</strong></div></td>
          </tr>
          <tr>
            <td>25LC-4</td>
            <td><div>12 - 25 lb&nbsp;</div>
                <div>(5.4 - 11.3 kg)</div></td>
            <td><div align="center"><strong>$2070.00</strong></div></td>
            <td><div align="center"><strong>$2305.00</strong></div></td>
          </tr>
          <tr>
            <td>35LC-4</td>
            <td><div>25 - 35 lb&nbsp;</div>
                <div>(11.3 - 15.8 kg)</div></td>
            <td><div align="center"><strong>$2125.00</strong></div></td>
            <td><div align="center"><strong>$2360.00</strong></div></td>
          </tr>
          <tr>
            <td>50LC-4</td>
            <td><div>36 - 55 lb&nbsp;</div>
                <div>(16.3 - 25 kg)</div></td>
            <td><div align="center"><strong>$2180.00</strong></div></td>
            <td><div align="center"><strong>$2415.00</strong></div></td>
          </tr>
          <tr>
            <td>70LC-4</td>
            <td><div>50 - 70 lb&nbsp;</div>
                <div>(22.6 - 31.7 kg)</div></td>
            <td><div align="center"><strong>$2235.00</strong></div></td>
            <td><div align="center"><strong>$2470.00</strong></div></td>
          </tr>
          <tr>
            <td>100LC-4</td>
            <td><div>75 - 100 lb&nbsp;</div>
                <div>(34 - 45.3 kg)</div></td>
            <td><div align="center"><strong>$2290.00</strong></div></td>
            <td><div align="center"><strong>$2525.00</strong></div></td>
          </tr>
          <tr>
            <td height="2"><p>125LC-4<font face="Arial, Helvetica, sans-serif"><b><font size="2"><br>
            </font></b></font></p></td>
            <td height="2"><div>95 - 130 lb&nbsp;</div>
                <div>(43 - 59 kg)</div></td>
            <td height="2"><div align="center"><strong>$2345.00</strong></div></td>
            <td><div align="center"><strong>$2580.00</strong></div></td>
          </tr>
          <tr>
            <td class="hdr_cell" colspan="4" height="22">
              <p>Performance</p>                      </td>
          </tr>
          <tr>
            <td colspan="4">
              <ul>
                <li><font face="Arial" size="-1">Vertical natural frequency
                  of 1/2 Hz or less can be achieved over the entire
                  load range. </font></li>
                <li><font face="Arial" size="-1">Horizontal natural
                  frequency is load dependent. 1 1/2 Hz (low horiz. freq.) or 1/2 Hz (ultra low horiz. freq.) or less natural frequencies can be
                  achieved at or near the nominal load. </font></li>
                <li><font face="Arial" size="-1">See <a href="/content/technology/transmissibility_curves_vibration_isolation_isolators_tables.html#BM-1">Performance</a>
                  for a typical transmissibility curve with 1/2 Hz natural
                  frequency. </font></li>
              </ul>                      </td>
          </tr>
          </tbody>
        </table>
      </article>
    </section>
    <aside class="page-aside">
      <nav class="page-navigation">
        <ul>
          <li class="active-black"><a href="/content/about_vibration_isolation_passive_vibration_isolators.html">Products</a></li>
          <li class="active-black"><a href="/content/about-minus-k/customers_anti_vibration_isolation_vibration_control.html">Standard Products</a></li>
          <li>
            <ul>
            <li><a href="/content/about-minus-k/faq_vibration_isolator_minus_k_vibration_isolators.html">F.A.Q.</a></li>
          </ul>
          </li>
          <li><a href="/content/about-minus-k/faq_vibration_isolator_minus_k_vibration_isolators.html">F.A.Q.</a></li>
          <li><a href="http://minusk.com/content/in-the-news_vibration_control_anti_vibration_isolation.html">In The News</a></li>
        </ul>
      </nav>
      {% include newsletter.html %}
    </aside>
</div>
</div>
